<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
	<!-- <property name="LOG_PATH_NAME" value="/Users/cho/eclipse-workspace/homework/src/main/webapp/logs/" /> -->
	
	<property name="LOG_PATH_NAME" value="/Users/cho/git/repository/homework/src/main/webapp/logs/" />
	

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger {36}- %msg%n</Pattern>
		</layout>
	</appender>
	
	<appender name="FILE-AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_PATH_NAME}log.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
		</encoder>
		
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH_NAME}log.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>400KB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE-AUDIT" />
	</root>
</configuration>